<!--	
	IT University of Copenhagen
	http://itu.dk/
	
	Software and Systems research group
	https://sss.wikit.itu.dk/
	
	author Tony Beltramelli
	http://www.tonybeltramelli.com
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>The Variability Bugs Database</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="assets/ico/favicon.png">

		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="assets/css/common.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script src="assets/js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	</head>
	<body>
		<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" style="color:white;" href="#home">The <strong>V</strong>ariability <strong>B</strong>ugs <strong>D</strong>ata<strong>b</strong>ase</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="#home">Home</a>
						</li>
						<li>
							<a href="#search">Database</a>
						</li>
						<li>
							<a href="#contribution">Contribute</a>
						</li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="left-inner-addon">
							<span class="glyphicon glyphicon-search"></span>
							<input id="search" type="text" class="form-control" placeholder="search the database">
						</div>
					</form>
				</div>
			</div>
		</div>
		 
		<div id="content"></div>
		
		<div id="bar" class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			    0%
			</div>
		</div>

		<script src="assets/js/libs/jquery-1.7.1.min.js"></script>
		<script src="assets/js/libs/underscore-min.js"></script>
		<script src="assets/js/libs/backbone-min.js"></script>
		<script src="assets/js/libs/jquery.syntaxhighlighter.min.js"></script>
		<script src="assets/js/libs/js-yaml.min.js"></script>
		<script src="assets/js/libs/jquery.infinitescroll.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'></script>

		<!-- custom code -->
		<script src="assets/js/app.js"></script>
		<script src="assets/js/model/Store.js"></script>
		<script src="assets/js/model/Event.js"></script>
		<script src="assets/js/model/DataProvider.js"></script>
		<script src="assets/js/model/BugLoader.js"></script>
		<script src="assets/js/model/NewsLoader.js"></script>
		<script src="assets/js/utils/Utils.js"></script>
		<script src="assets/js/utils/TwoDimensionsDictionary.js"></script>
		<script src="assets/js/controller/BugDisplayer.js"></script>
		<script src="assets/js/controller/BugController.js"></script>
		<script src="assets/js/view/AView.js"></script>
		<script src="assets/js/view/BugView.js"></script>
		<script src="assets/js/view/HomeView.js"></script>
		<script src="assets/js/view/SearchView.js"></script>
		<script src="assets/js/view/ContributionView.js"></script>

		<script type="text/template" id="comment_block">
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= author %> <%= date %>
				</div>
				<div class="panel-body">
					<%= content %>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="comment_tab">
			<div>
				<ul class="nav nav-pills pull-right">
					<li class="active">
						<a href="#comments_modal" data-toggle="modal">Write comment</a>
					</li>
				</ul>
				<p>You can contribute to this project by writing a comment for this bug.<span class="hide"> No comments have been submitted for this bug yet.</span></p>
			</div>
			<section></section>
		</script>
		
		<!-- Google Analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33454433-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</body>
</html>