<div class="container-fluid">
	<div class="row">
		<div id="bug_content" class="main hide">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li id="raw" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#bug">View raw files <span class="caret"></span> </a>
						<ul class="dropdown-menu" role="menu">
						</ul>
					</li>
				</ul>
				
				<div class="repo-title">
					<div>
				    	<img alt="" src=""/>	
				    	<span></span>
					</div>
			    	<span class="h3"></span>
			    </div>
				
				<span class="hide"></span>
			</div>
			
			<div class="row">
				<div class="col-lg-6">
					
					<p id="descr"></p>
					
					<div class="row">
						<div class="col-lg-6">
							<p id="commit_info">
								But fixed by commit <a href="#bug" target="_blank">hash</a>
								<br/>
								Parent commit tree <a href="#bug" target="_blank">here</a>
							</p>
						</div>
						
						<div class="col-lg-6">
							<ul class="nav nav-pills pull-right">
								<li id="links" class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#bug">Related links <span class="caret"></span> </a>
									<ul class="dropdown-menu" role="menu"></ul>
								</li>
							</ul>
						</div>
					</div>						
				</div>
				
				<div class="col-lg-6">
					<table class="table table-bordered table-striped">
						<tbody>
						</tbody>
					</table>	
				</div>
			</div>
			
			<section id="report">
				<ul class="nav nav-tabs" role="tablist">
				</ul>
				<div class="tab-content">
				</div>
			</section>
		</div>
		<div id="info" class="main hide">
			<h3>404: Requested resource not found.</h3>
		</div>
	</div>
</div>

<div class="modal fade" id="comments_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Write comment</h4>
			</div>
			<div class="modal-body">
				<form class="form-group">
					<input id="name_field" type="text" class="form-control" placeholder="Name">
					<input id="email_field" type="email" class="form-control" placeholder="Email">
					<textarea class="form-control" rows="3" placeholder="* Comment"></textarea>			
					<div id="challenge" class="input-group hide">
  						<span class="input-group-addon"></span>
  						<input type="number" class="form-control" placeholder="* Please answer this challenge">
					</div>
				</form>

				<div class="alert alert-success hide" role="alert">
					Thank you for your comment.
				</div>
				<div class="alert alert-warning hide" role="alert">
					You must fill in the input fields correctly.
				</div>
				<div class="alert alert-danger hide" role="alert">
					A problem occured, please try again later.
				</div>
				<center>
					<img src="assets/images/ajax-loader.gif" alt="loader"/>
				</center>
			</div>
			<div class="modal-footer hide">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel
				</button>
				<button id="submit" type="button" class="btn btn-primary">
					Submit
				</button>
			</div>
		</div>
	</div>
</div>

