<div class="blog-main">
	<div class="blog-post">
		<h2 class="blog-post-title">Contribute</h2>
		<p><strong>VBDb is an open project</strong> and, as such, we accept contributions. For general question you can contact Iago Abal, Claus Brabrand or Andrzej W&#261;sowski, or just drop an email to <em>vbdb@<strong>AT</strong>@itu.dk</em>.</p>
		
		<h3>Q: I noticed there is something wrong in one of your bug reports.</h3>
		<p>Each bug page has a <em>Discussion</em> tab where you can write comments and let us know. Comments are anonymous and it is up to you to provide your name and email address, we kindly ask you however to do a CAPTCHA to avoid spam.</p>
                <p>If you prefer, you can also fill a bug report on the <a href="https://bitbucket.org/modelsteam/vbdb/issues" target="_blank">issue tracker</a>.</p>

		<h3>Q: I want to contribute with a new bug.</h3>
		<p>The preferred option is that you create a pull request to our <a href="https://bitbucket.org/modelsteam/vbdb" target="_blank">Bitbucket repository</a>. You need to create at least a <a href="https://bitbucket.org/modelsteam/vbdb/src/tip/report/" target="_blank">bug record</a>. A <a href="https://bitbucket.org/modelsteam/vbdb/src/tip/simple/" target="_blank">simplified bug</a> and a <a href="https://bitbucket.org/modelsteam/vbdb/src/tip/patch/" target="_blank">simplifed patch</a> are highly appreciated.</p>
		<p>You can also contact us to suggest a bug candidate for the database, but we cannot guarantee that we will add it to the database.</p>
	</div>
</div>
