<div class="blog-header">
	<h2 class="blog-post-title">Welcome</h2>
	<p>
	  <p>
		The Variability Bugs Database (VBDb) is an effort to document variability bugs in software systems.
		Our objective is to understand the complexity and nature of <em>variability bugs</em> (including <em>feature interaction bugs</em>) occurring in large highly-configurable systems.
		This understanding should help the research community to develop techniques to improve the reliability of configurable software.
		</p>
		Initially, we have documented 42 of these bugs ocurring in the Linux kernel. A qualitative analysis of this initial collection will appear in <a href="http://www.ase2014.org" target="_blank">ASE 2014</a>:
		<blockquote>
		<p><a href="http://bit.ly/iago-ase2014" target="_blank">42 Variability Bugs in the Linux Kernel: A Qualitative Study</a></p>		
		</blockquote>
	</p>
</div>

<div class="blog-main home">
</div>

<nav id="pagination">
	<a href="#"></a>
</nav>
