<div class="container-fluid">
	<div class="row">
		<div id="index_nav" class="hide">
			<ul class="nav nav-tabs">
				<li class="disabled"><a>Index by :</a></li>
				<li class="navbar-right checkbox-filter">
					<span class="badge"></span>
				</li>
			</ul>
		</div>
		<div id="search_list" class="main">
		</div>
		<div id="info" class="main hide">
			<h3>Not result found.</h3>
		</div>
	</div>
</div>