<div class="blog-post">
	<h2 class="blog-post-title">New bug</h2>
	<p class="blog-post-meta">
		July 6, 2014 by <a href="#">Jesper</a>
	</p>

	<p>
		New buggy feature detected
	</p>
	<hr>

	<p>
		Cum sociis natoque penatibus et magnis nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
	</p>
	<p>
		Cras augue dui, varius nec adipiscing sed, placerat eget eros. Aliquam justo neque, dignissim vel dignissim eget, pretium id tellus.
	</p>
</div>