<div class="blog-post">
	<h2 class="blog-post-title">News title</h2>
	<p class="blog-post-meta">
		July 8, 2014 by <a href="#">Morten</a>
	</p>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi fermentum lacus condimentum pharetra vitae sed ligula. Aliquam dui enim, dictum dictum metus vitae, molestie mollis leo.
	</p>
	<hr>

	<h3>Part 1</h3>
	<p>
		Cum sociis natoque penatibus et magnis <a href="http://google.com">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
	</p>
	<p>
		Suspendisse vitae purus eget magna sollicitudin dignissim sit amet gravida massa. Cras vitae cursus dolor. Vivamus scelerisque bibendum nisi, at pharetra tellus pretium quis. Curabitur lobortis pretium metus, vel eleifend nisi ullamcorper sit amet. Sed ac ipsum nisl. Etiam aliquet tincidunt nisi, eu fermentum felis. Phasellus semper vitae metus sed dignissim.
	</p>

	<h3>Part 2</h3>
	<p>
		Etiam et congue massa. Fusce sed commodo mauris, eget bibendum velit. Praesent vulputate justo ac sem lacinia lacinia et eu ipsum.
	</p>
	<p>
		Cras augue dui, varius nec adipiscing sed, placerat eget eros. Aliquam justo neque, dignissim vel dignissim eget, pretium id tellus.
	</p>
</div>