<div class="blog-post">
	<h2 class="blog-post-title">Cool title</h2>
	<p class="blog-post-meta">
		July 12, 2014 by <a href="#">Whatever</a>
	</p>

	<p>
		Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
	</p>
</div>