<div class="blog-post">
	<h2 class="blog-post-title">New bug found</h2>
	<p class="blog-post-meta">
		July 16, 2014 by <a href="#">Guys</a>
	</p>

	<p>
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</p>
	<pre><code>Some cool code</code></pre>
</div>